<header class="flex items-center justify-center flex-col pb-5 header-container">
    <section class="middle-section">
        <img src="/images/profile_img.jpg" alt="my image">
        <div></div>
        <p class="text-2xl">"I cant stop making music....coz you all are always there to listen"</p>
    </section>
    <div class="logo">
        <div class="text-5xl brand-logo text-center">Mehboob <strong>Music</strong> Official</div>
        <p class="brand-slogan" style="text-align: center;"><strong>Music</strong> till last breath</p>    
    </div>
</header>