<header class="flex items-center justify-center flex-col pt-5 pb-5 header-container">
    <div class="text-5xl brand-logo text-center">Mehboob <strong>Music</strong> Official</div>
    <p class="brand-slogan"><strong>Music</strong> till last breath</p>
</header>