<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap" rel="stylesheet">   
    <script src="https://kit.fontawesome.com/86ee6ee1a0.js" crossorigin="anonymous"></script>    
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mehboob Music Official</title>
</head>
<body>
    <div id="main">
        <%- include("partials/page_header") %>
        <%- include("partials/tab_section") %>
    </div>
    <script src="/js/script.js"></script>
<%- include("partials/footer") %>