<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&display=swap" rel="stylesheet">    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mehboob Music Official</title>
</head>
<body>
    <div id="main">
        <header class="flex items-center justify-center flex-col brand-logo pt-5 shadow-xl pb-5">
            <div class="text-5xl">Mehboob <strong>Music</strong> Official</div>
            <p class="brand-title">one stop for all your <strong>Music</strong> need</p>
        </header>
    </div>
</body>
</html>