body{
  margin: 0;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
.header{
  background-color: #654a8c;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.header h1{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  font-size: 4em;
}
.card{
  width: 18rem;
  margin: 10px;
  background-color: blueviolet;
  display: inline-block;
}
.card-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-buttons button{
  margin-right: 1rem;
}
.card-title{
  text-align: center;
}
.card-text{
  text-align: center;
}